.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postBody{
    margin:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-decoration: none;
    outline: 1px solid #dedede;
    color: black;
    cursor:default;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:33vw;
    height:auto;
    background-color: white;
    z-index: 1;
}

.nameDate{
    display: flex;
    gap:100px;
    justify-content: space-between;
}

.contentBox{
    resize: none;
    width:500px;
    height:200px;
}

form{
    display:flex;
    flex-direction: column;
}

form button{
    width:50%;
}

.error {
    background-color: rgb(255, 0, 0, 0.3);
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    padding: 10px;
    white-space: pre;
  }